<div class='main-nav'>
    <div class='navbar navbar-inverse'>
        <div class='navbar-header'>
            <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
                <span class='sr-only'>Toggle navigation</span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
                <span class='icon-bar'></span>
            </button>
            <a class='navbar-brand' [routerLink]="['/home']">Ye good run</a>
        </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse'>
            <ul class='nav navbar-nav'>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/entries']">
                        <span class='glyphicon glyphicon-time'></span> Jog entries
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/weekly-report']">
                        <span class='glyphicon glyphicon-calendar'></span> Weekly report
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']" *ngIf="loginService.user && loginService.user.canCrudUsers">
                    <a [routerLink]="['/administration']">
                        <span class='glyphicon glyphicon-adjust'></span> Administration
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
