<h1>Jogging entries</h1>

<em *ngIf="message">{{message}}</em>

<div *ngIf="editingEntry" class="panel panel-primary">
    <div class="panel-heading">
        Enter run data
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-2">Date</div>
            <div class="col-md-10"><input class="form-control" [value]="formattingService.formatDateForEditing(editingEntry.date)" (blur)="editingEntry.date=formattingService.parseDateFromEditing($event.target.value)" type="date" /></div>
        </div>
        <div class="row">
            <div class="col-md-2">Time</div>
            <div class="col-md-10"><input class="form-control" [value]="formattingService.formatTimeForEditing(editingEntry.timeInSeconds)" (blur)="editingEntry.timeInSeconds=formattingService.parseTimeFromEditing($event.target.value)" /></div>
        </div>
        <div class="row">
            <div class="col-md-2">Distance</div>
            <div class="col-md-10"><input class="form-control" [value]="formattingService.formatDistanceForEditing(editingEntry.distanceInMeters)" (blur)="editingEntry.distanceInMeters=formattingService.parseDistanceFromEditing($event.target.value)" /></div>
        </div>
        <div class="row text-danger" *ngIf="statusMessage">
            <div class="col-md-12">
                {{ statusMessage }}
            </div>
        </div>
    </div>

    <div class="panel-footer">
        <button (click)="saveChanges()">Save</button>
        <button (click)="cancelEdit()">Cancel</button>
    </div>
</div>

<div *ngIf="!editingEntry">
    
    <div>
        <input [value]="formattingService.formatDateForEditing(from)" (input)="from=formattingService.parseDateFromEditing($event.target.value)" type="date" />
        <input [value]="formattingService.formatDateForEditing(to)" (input)="to=formattingService.parseDateFromEditing($event.target.value)" type="date" />

        <select *ngIf="loginService.user.canCrudAllEntries" [(ngModel)]="userId">
            <option *ngFor="let user of users" [attr.value]="user.id" [attr.selected]="userId == user.id ? true : null">{{ user.email }}</option>
        </select>

        <button (click)="filter()">Filter</button>
        <button (click)="newEntry()">New entry</button>
    </div>

    <em *ngIf="fetchStatus == 1">Working...</em>
    
    <table class='table' *ngIf="fetchStatus == 2">
        <thead>
            <tr>
                <th>Date</th>
                <th>Distance</th>
                <th>Time</th>
                <th>Speed</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let entry of entries">
                <td>{{ formattingService.formatDateForDisplay(entry.date) }}</td>
                <td>{{ formattingService.formatDistanceForDisplay(entry.distanceInMeters) }}</td>
                <td>{{ formattingService.formatTimeForDisplay(entry.timeInSeconds) }}</td>
                <td>{{ formattingService.formatSpeedForDisplay(entry.averageSpeed) }}</td>
                <td>
                    <button (click)="edit(entry)">Edit</button>
                    <button (click)="delete(entry)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>