<h1>Weekly report</h1>
<div>
    <input [value]="formattingService.formatDateForEditing(from)" (blur)="from=formattingService.parseDateFromEditing($event.target.value)" type="date" />
    <input [value]="formattingService.formatDateForEditing(to)" (blur)="to=formattingService.parseDateFromEditing($event.target.value)" type="date" />
    <button (click)="filter($event)">Filter</button>
</div>
<em *ngIf="!entries">{{ statusMessage }}</em>
<table class='table' *ngIf="entries">
    <thead>
        <tr>
            <th>Year</th>
            <th>Week of year</th>
            <th>Total time</th>
            <th>Total distance</th>
            <th>Average speed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let entry of entries">
            <td>{{ entry.year }}</td>
            <td>{{ entry.week }}</td>
            <td>{{ formattingService.formatTimeForDisplay(entry.totalTimeInSeconds) }}</td>
            <td>{{ formattingService.formatDistanceForDisplay(entry.totalDistanceInMeters) }}</td>
            <td>{{ formattingService.formatSpeedForDisplay(entry.averageSpeed) }}</td>
        </tr>
    </tbody>
</table>